.cartCard {
    display: flex;
    flex-direction: row;
    align-items: left;
    padding: 16px;
    border-bottom: 1px solid #ddd;
  }
  
  .image {
    width: 200px;
    height: 250px;
    margin-right: 16px;
    border-radius: 20px;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .name {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .price {
    font-size: 18px;
    font-weight: bold;
    color: #666;
  }
  
  .qtyContainer {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
  .qtyButton {
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    color: black;
  }
  
  .qtyButton:hover {
    background-color: #f0f0f0;
  }
  
  .qty {
    font-size: 18px;
    font-weight: bold;
    margin: 0 8px;
  }
  
  .removeButton {
    background-color: #fff;
    width: 100px;
    height: 40px;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    color: black;
  }
  
  .removeButton:hover {
    background-color: #f0f0f0;
  }