/* Login.module.css */

.container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .formContainer {
    padding: 20px;
  }
  
  .formGroup {
    margin-bottom: 20px;
  }
  
  .formGroup input[type="text"],
  .formGroup input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
  }
  
  .formGroup input[type="text"]:focus,
  .formGroup input[type="password"]:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .icon {
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .input-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .input-button:hover {
    background-color: #3e8e41;
  }
  
  .register-link {
    margin-top: 20px;
    text-align: center;
  }
  
  .register-link label {
    font-size: 16px;
    margin-right: 10px;
  }
  
  .register-link a {
    text-decoration: none;
    color: #337ab7;
  }
  
  .register-link a:hover {
    color: #23527c;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .inputWrapper {
    position: relative;
  }
  
  .inputWrapper input {
    padding-right: 30px;
  }
  
  .inputWrapper .icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }